/* Centering the app container */
.app-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    font-family: Arial, sans-serif;
}

h1, h2 {
    color: #333;
}

.upload-form, .search-bar, .document-table-container {
    margin-bottom: 20px;
}

.upload-form input, .search-bar input {
    padding: 8px;
    margin: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.search-bar button {
    padding: 8px 16px;
    font-size: 14px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.search-bar button:hover {
    background-color: #0056b3;
}

.search-bar button:focus {
    outline: none;
}

button {
    padding: 8px 16px;
    margin: 5px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

.delete-button {
    background-color: #e74c3c;
}

.delete-button:hover {
    background-color: #c0392b;
}

.update-button {
    background-color: #007bff;
}

.update-button:hover {
    background-color: #379cff;
}

.save-button {
    background-color: #0056b3;
}

.save-button:hover {
    background-color: #024794;
}

.cancel-button {
    background-color: orange;
}

.cancel-button:hover {
    background-color: darkorange;
}

.action-buttons {
    display: flex;
    gap: 8px; /* Space between buttons */
    align-items: center; /* Align buttons vertically center */
}

.document-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.document-table th, .document-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.document-table th {
    background-color: #f4f4f4;
    font-weight: bold;
}

.document-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.document-table tr:hover {
    background-color: #e2e2e2;
}

.error-text {
    color: red;
    text-align: center;
}

.download-button .icon {
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.pagination button {
    margin: 0 10px;
    padding: 10px 15px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.pagination button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.notification-banner {
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    z-index: 1000;
    max-width: 300px;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.notification-banner.success {
    background-color: #4caf50;
}

.notification-banner.error {
    background-color: #f44336;
}